@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&family=Signika:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.btnVoltar {
    border-radius: 5px;
    font-weight: 400;
    width: 50px;
}

.pgLogin {
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    background-color: #224A6B;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding: 50px;*/
}

.login {
   padding: 30px;
   font-size: 25px;
   margin-top: 15px;
}

.campo {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btnLogin {
    margin-top: 50px;
    text-transform: uppercase;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: #7DD7F5;
    font-weight: bold;
}

.btnLogin:hover {
    box-shadow: 0 0 1em #000;
    cursor: pointer;
}

span {
    position: absolute;
    top: 87%;
    left: 40%;
    text-transform: none;
}

.toCreateLogin {
    border: none;
    outline: none;
    background-color: #224A6B;
    font-size: 15px;
    font-weight: bold;
}

.toCreateLogin:hover {
    cursor: pointer;
    color: red;
}