@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&family=Signika:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

div {
    width: 100vw;
    height: 100vh;
}

span {
    position: absolute;
    left: 90%;
}

.nav {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

#btnLogoff {
    position: absolute;
    left: 93.2%;
    bottom: 87%;
    border: none;
    background-color: white;
    font-size: 15px;
}

.nav-itens {
    padding: 10px;
}

